<% include('../layouts/header.ejs')%>
    <h1>Admin forget password </h1>


    <form action="/forget" method="post"  required><br><br>       
        <input type="password" name="password" placeholder="enter your password" required><br><br>
        <input type="hidden" name ='user_id' value="<%=user_id %>">
        <input type="submit" value="Reset-password"><br><br>
    </form>
    <a href="/admin/dashboard" style="text-align: start;">Go To Back</a>
<% include('../layouts/footer.ejs')%>