<% include('../layouts/header.ejs')%>

<h1>Welcome admin to home page</h1><br><br>  


<a href="/admin/dashboard">Dashboard</a>
<br><br>
<a href="/admin/new-user">Add New User</a>
<br><br>
<a href="/admin/logout">Logout</a><br><br>
<a href="/admin/edit-user">Edit User</a><br><br>


<a href="/admin/dashboard" style="text-align: start;">Go To Back</a>

<% include('../layouts/footer.ejs')%>